
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*base styles*/
body {
  font-family: "Press Start 2P", system-ui;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #24544b;
  color: #fff;
}


